.menu {
  align-items: center;
  padding: 0;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu > .link {
  font-size: 1.3em;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 1rem 2%;
  text-decoration: none;
  color: #57a0e1;
}

body,
input,
button,
textarea {
  font: 600 18px Nunito, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .menu {
    width: 100%;
  }
  .menu > .link {
    font-size: 1em;
    font-weight: 300;
  }
}
