.main-outras-dicas{
    padding: 1rem 1rem;
    margin: 2rem auto;
    width: 75%;
    text-align: justify;
}

.main-outras-dicas>h1{
    margin-bottom: 1rem;
    color: white;
    background-color: #b0d3f1;
    padding: 0.5rem;
}

.card-dicas{
    border: 2px dashed #e0a546;
    padding: 1rem;
    margin: 1.5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 2rem;
    align-items: center;
    border-radius: 10px;
}
.card-dicas>img{
    width: 20%;
}

.card-dicas>a{
    text-decoration: none;
    color: #54a4ea;
}

.video-flex{
    position: relative;
    width: 60%;
    padding-bottom: 50%;
}

.video-flex>iframe{
position: absolute;
width: 100%;
height: 100%;
border-radius: 10px;
}
   
