.carrossel {
    width: 100%;
    max-width: 755px;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carrossel > div {
    position: relative;
    margin: 0 auto;
    background-color: #B0D3F1;
    border-radius: 20px;
    padding-bottom: 22%;
    width: 22%;
    max-width: 155px;
}

.carrossel > div > img {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
}
