div.main {
    width: 100%;
    height: 500px;
    background-color: #b0d3f1;
    position: relative;
    margin-bottom: 2rem;
}

div.background-classificacao {
    background: url("../../assets/background-classificacao.png") no-repeat center;
    background-size: contain;
    height: 40%;
    /* https://stackoverflow.com/a/18200048 */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 30%;
    right: 0;
}


img.rotulo-alimento {
    height: 40%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    align-items: center;
}

.main-classificacao {
    padding: 1rem 0;
    margin: 0 auto;
    width: 80%;
    text-align: justify;
}

.main-classificacao>h1 {
    margin-bottom: 1rem;
    color: white;
    background-color: #b0d3f1;
    padding-left: 1rem;
}

.lista-alimentos{
    margin: 2rem;
}

.categorias-alimentos{
    margin: 0 auto 1rem;
    padding: 1rem;
    width: 70%;
    border-radius: 10px;
    color: white;
    background-color: #e0a546;
   
}