.main-footer {
    margin: 0 auto;
    background-color: #B0D3F1;
    color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link-contato {
    height: 30px;
    width: 30px;
    margin: 0 0.3rem;
}

.link-contato.github {
    background: url("../../assets/github.png") no-repeat center;
    background-size: contain;
}

.link-contato.linkedin {
    background: url("../../assets/in.png") no-repeat center;
    background-size: contain;
}
