div.main-background {
    width: 100%;
    height: 500px;
    background-color: #b0d3f1;
    position: relative;
    margin-bottom: 2rem;
}

div.background-rotulo {
    background: url("../../assets/background-rotulos.png") no-repeat center;
    background-size: contain;
    height: 25%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 30%;
    right: 0;
}

.alimento-rotulos {
    height: 35%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 3rem;
    align-items: center;
    position: absolute;

}

div.main-rotulos {
    padding: 1rem 0;
    margin: 0 auto;
    width: 80%;
    text-align: justify;
}

div.main-rotulos>h1 {
    margin-bottom: 1rem;
    color: white;
    background-color: #b0d3f1;
    padding-left: 1rem;
}

.lista-de-ingredientes {
    border: 1px solid #54a4ea;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}



.exemplo-lista-ingredientes {
    background: url("https://br.openfoodfacts.org/images/products/789/608/086/2132/ingredients_pt.7.full.jpg") no-repeat center;

}

.dicas-listas{
    background-color: #e0a546;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.link:hover {
    color: #54a4ea;
    text-decoration: none;
}

.link {
    color: #54a4ea;
    text-decoration: none;

}
